@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the default scrollbar */
body {
  margin: 0;
  padding: 0;
}

/* Define custom scrollbar styles */
body::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  scroll-behavior: smooth;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Border radius of the handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
  scroll-behavior: smooth;
  cursor: pointer;
}
